name: Release
on:
  push:
    branches:
      - main

permissions:
  contents: read # for checkout

jobs:
  semantic-release-benchmark:
    name: Semantic Release Benchmark
    runs-on: ubuntu-24.04
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "lts/*"

      - name: Install Hyperfine
        run: |
          wget https://github.com/sharkdp/hyperfine/releases/download/v1.16.1/hyperfine_1.16.1_amd64.deb
          sudo dpkg -i hyperfine_1.16.1_amd64.deb

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        run: hyperfine --warmup 3 'npx semantic-release --dry-run'

  go-semantic-release-benchmark:
    name: Go Semantic Release Benchmark
    runs-on: ubuntu-24.04
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Go Semantic Release
        run: |
          curl -SL https://get-release.xyz/semantic-release/linux/amd64 -o ./semantic-release && chmod +x ./semantic-release

      - name: Install Hyperfine
        run: |
          wget https://github.com/sharkdp/hyperfine/releases/download/v1.16.1/hyperfine_1.16.1_amd64.deb
          sudo dpkg -i hyperfine_1.16.1_amd64.deb

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.TOKEN }}
        run: ./semantic-release --dry
